<% content_for :title do %>Ajude o projeto Brasil Acessível<% end %>
<div class="container">
  <h1>Ajude o projeto Brasil Acessível</h1>
  <p>
    Esse projeto foi criado pela
    <%= link_to '<span class="label label-success">Art Webhost</span>'.html_safe, 'http://www.artwebhost.com.br', target: '_blank' %>.
  </p>
</div>
