<% content_for :title do %>Brasil Acessível<% end %>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'layouts/about' %>
      </div>
      <div class="col-md-5">
        <%= render 'layouts/map' %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/form_busca' %>
      </div>
    </div>
</div>
