<% content_for :title do %>Brasil Acessivel<% end %>
<div class="container">
    <div class="hero-unit">
        <h1>Brasil Acessivel</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
    </div>
</div>
