<h1>Busca</h1>
<form role="form" class="form">
  <div class="form-group">
    <label for="estado">Estado</label>
    <select id="estado" name="estado" class="form-control">
      <option>RS</option>
      <option>RJ</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cidade">Cidade</label>
    <select id="cidade" name="cidade" class="form-control">
      <option>Porto Alegre</option>
      <option>Viamão</option>
    </select>
  </div>
  <div class="form-group">
    <label for="produto-servico">Produto ou Serviço</label>
    <input type="text" id="produto-servico" name="produto-servico" class="form-control" />
  </div>
  <button type="submit" class="btn btn-success">Procurar &raquo;</button>
</form>