<div class="col-md-2 form-search-column"><h1>Busca</h1></div>
<div class="col-md-10 form-search-column">
  <div class="row-table">
    <div class="row-table-cel">
      <form role="form" class="form-inline">
        <select id="estado" name="estado" class="form-control">
          <option>Estado</option>
          <option>RS</option>
          <option>RJ</option>
        </select>
        <select id="cidade" name="cidade" class="form-control">
          <option>Cidade</option>
          <option>Porto Alegre</option>
          <option>Viamão</option>
        </select>
        <input type="text" id="produto-servico" name="produto-servico" placeholder="Produto ou Serviço" class="form-control" />
        <button type="submit" class="btn btn-success">Procurar &raquo;</button>
      </form>
    </div>
  </div>
</div>
