<div class="col-md-12">
  <div style='width: 760px;'>
    <div id="one_marker" style='width: 760px; height: 300px;'></div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'one_marker'}}, function(){
    markers = handler.addMarkers([
      {
        lat: -30.056027,
        lng: -51.162192,
        picture: {
          url: "<%= image_path("map_marker.png") %>",
          width:  50,
          height: 50
        },
        infowindow: "PUCRS"
      },
      {
        lat: -30.053027,
        lng: -51.162192,
        picture: {
          url: "<%= image_path("map_marker.png") %>",
          width:  50,
          height: 50
        },
        infowindow: "Perto da PUCRS"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
