<div class="col-md-12">
  <div style='width: 760px;'>
    <div id="map" style='width: 760px; height: 400px;'></div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @markers.to_json %>);
    handler.map.centerOn(<%= @map_central_cooordinates.to_json %>);
    handler.getMap().setZoom(<%= @map_zoom %>);
  });
</script>
