<li><%= link_to 'Ajude o Projeto', about_path('about') %></li>
<li class="dropdown">
  <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
    Serviços Adaptados <b class="caret"></b>
  </a>
  <ul id="menu2" class="dropdown-menu dropdown-toggle" role="menu" aria-labelledby="drop5">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transporte</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transporte</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transporte</a></li>
  </ul>
</li>
<li><%= link_to 'Contato', about_path('about') %></li>
