<div class="container">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <%= link_to 'Brasil Acessivel', root_path, class: 'brand', id: 'logo' %>
  <ul class="nav navbar-nav pull-left">
    <%= render 'layouts/navigation_links' %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="dropdown">Login</button>
        <div class="dropdown-menu" style="padding: 10px; background: #ddd">
          <form action="" role="form">
            <div class="form-group">
              <label for="user">User</label>
              <input type="text" class="form-control" id="user" placeholder="User" />
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
