<div class="container">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <%= link_to "<span>#{image_tag 'brasil_accessivel_logo.png'}</span>&nbsp;Brasil Acessivel".html_safe, root_path, class: 'brand', id: 'logo' %>
  <ul class="nav navbar-nav pull-left">
    <li><%= link_to 'Ajude o Projeto', about_path('about') %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
        Serviços Adaptados <b class="caret"></b>
      </a>
      <ul id="menu2" class="dropdown-menu dropdown-toggle" role="menu" aria-labelledby="drop5">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ônibus</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Táxi</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Translados</a></li>
      </ul>
    </li>
    <li><%= link_to 'Contato', about_path('about') %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="lugar, cidade, estado" name="search-terms" id="search-terms">
          <div class="input-group-btn">
            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </li>
    <li class="divider-vertical"></li>
    <li>
      <div><button type="button" class="btn btn-default navbar-btn register-button">Registrar</button></div>
    </li>
    <li>
      <div class="dropdown">
        <button type="button" class="btn btn-success navbar-btn" data-toggle="dropdown">Logar</button>
        <div class="dropdown-menu login-form">
          <form action="" role="form">
            <div class="form-group">
              <label for="user">Usuário</label>
              <input type="text" class="form-control" id="user" placeholder="Usuário" />
              <label for="password">Senha</label>
              <input type="password" class="form-control" id="password" placeholder="Senha" />
            </div>
            <button type="submit" class="btn btn-success">Logar</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
