<div class="container">
  <h1>Editar Lugar</h1>

  <%= render 'form' %>

  <%= link_to 'Visualizar', @place, class: 'btn btn-primary' %>
  <%= link_to 'Voltar', places_path, class: 'btn btn-default' %>
</div>
