// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navigation bar */
.login-form { padding: 10px; background: #ddd; }
.search-form-inline { margin-top: 4%; margin-left: 4%; }
.register-button { margin-right: 10px; }
.text-blank { color: white !important}

.row-table {
  height: 100%;
  display: table;
}

.row-table-cel {
  height: 100%;
  float: none;
  display: table-cell;
  vertical-align: middle;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
}

input {
  height: auto !important;
}
