<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou um link para alterar sua senha. Você pode efetuar a alteração clicando no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração de senha, por favor ignore este email.</p>
<p>Seu senha não será alterada se você não clicar no link acima e altera-la.</p>
