<div class="hero-unit">
  <h1>Brasil Acessível <span><%= image_tag "logo.png" %></span></h1>
  <p>
    Portal de acessibilidade no Brasil. No portal Brasil Acessível você pode procurar por lugares que&nbsp;
    fornecem lazer e possuem acessibilidade para cadeirantes, tais como, cinemas, bares, restaurantes,&nbsp;
    hotéis, etc.
  </p>
  <p>
    Também é possível encontrar informação sobre serviços adaptados como transporte, passeios, entre outros.
  </p>
  <a href="#" class="btn btn-primary btn-large">Saiba mais &raquo;</a>
</div>
