<div class="col-md-12">
  <div style='width: 760px;'>
    <div id="map" style='width: 760px; height: 400px;'></div>
  </div>
</div>

<script>
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: <%= @map_zoom %>,
    center: <%= @map_central_cooordinates.to_json %>
  });
  var marker = new google.maps.Marker(<%= raw @markers.to_json %>);
  marker.setMap(map);
</script>
