<div class="col-md-12">
  <div style='width: 760px;'>
    <div id="map" style='width: 760px; height: 400px;'></div>
  </div>
</div>

<script>
  var myLatlng = new google.maps.LatLng(<%= @map_central_cooordinates[0] %>, <%= @map_central_cooordinates[1] %>);
  var map = new google.maps.Map(document.getElementById("map"), { zoom: <%= @map_zoom %>, center: myLatlng });
  var marker = new google.maps.Marker(<%= raw @markers.to_json %>);
  marker.setMap(map);
</script>
